body{
    background-image: url("/public/images/background-image.png");
    background-size: cover;
    height: 100vh;
}
.shade{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
